body {
  margin: 0;
  overflow: hidden;
}

#webgl {
  /* sky-like */
  background: linear-gradient(to bottom, #fcf2d5 0%,#e3edfa 40%,#f0f9ff 100%)
}

#footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

#infobtn {
  color: white;
  background: rgba(152, 200, 246, 0.8);
  border: solid 4px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 0 2px rgba(152, 200, 246, 0.3);
  width: 24px;
  height: 24px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

/* popup */
#popup {
  /* background: rgba(255, 255, 255, 0);*/
  position: absolute;
  left: 2px;
  top: 2px;
  max-width: 480px;
  min-width: 300px;
  z-index: 9999;
  border: solid gray;
  border-width: 1px 2px 2px;
  border-radius: 3px;
}

#popupbar {
  background: dimgray;
  color: white;
  padding-left: 4px;
  height: 18px;
}

#closebtn {
  color: rgb(220, 220, 220);
  background: gray;
  border: 1px solid darkgray;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  float: right;
  cursor: pointer;
}

#popupbody {
  background-color: white;
  padding: 2px 5px 2px;
  max-height: 500px;
  overflow: auto;
}

/* identify result */
#popupbody table {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;
}

#popupbody table caption {
  background-color: gray;
  color: white;
  font-size: small;
  padding: 1px;
  padding-left: 6px;
  text-align: left;
}

#popupbody table td {
  padding-left: 5px;
}

table.layer tr {
  background-color: #eeeeee;
}

table.coords tr {
  background-color: #eeeeee;
}

table.attrs tr:nth-child(odd) {
  background-color: #eeeeee;
}


table.attrs tr td:first-child {
  width: 40%;
}

/* pageinfo */
#pageinfo {
  font-size: small;
}

#pageinfo h1 {
  background-color: gray;
  color: white;
  font-size: small;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 1px;
  padding-left: 6px;
}

#urlbox {
  width: 100%;
}

#usage, #about {
  margin-left: 5px;
}

#usage tr:nth-child(odd) {
  background-color: #eeeeee;
}

#usage td.star {
  font-weight: bold;
}

#about ul {
  margin: 5px;
  margin-left: 20px;
  padding: 0px;
}

.license {
  font-size: xx-small;
}

.download-link {
  display: block;
  border: 1px solid darkgray;
  background: lightgray;
  color: black;
  font-size: large;
  margin: 10px 50px 10px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

/* print dialog */
.print div {
  padding: 5px;
}

.print label {
  margin-left: 5px;
}

.print input[type="text"] {
  width: 40px;
  border: 1px solid lightgray;
  background: #F6F6F6;
  margin-left: 8px;
  margin-right: 8px;
}

.print input[type="checkbox"] {
  margin-left: 15px;
}

.print input[type="submit"] {
  display: none;
}

.print .buttonbox {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.print .buttonbox span {
  border: 1px solid darkgray;
  background: lightgray;
  margin: 0px 5px 0px;
  padding: 5px 10px 5px;
  cursor: pointer;
}

/* label */

.label {
  /*background-color: yellow;*/
  /*text-shadow: -1px -1px #FFF, 0px -1px #FFF, 1px -1px #FFF, -1px 0px #FFF, 1px 0px #FFF, -1px 1px #FFF, 0px 1px #FFF, 1px 1px #FFF;*/
  padding: 2px;
  position: absolute;
  color: #34262b;
  pointer-events: none;
  cursor: default;
  font-family: "Knockout30" !important;
  font-size: 18px;
  opacity: 0.75;
}

.winery{
  opacity: 1;
  color:  #65142C !important;
  font-size: 20px;
  max-width: 200px;
  float: right;
}

.num{
  /*background-color: pink;*/
   background-image: url(triangle.svg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
  opacity: 1;
  color: white !important;
  font-size: 18px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 35px;
  left:0px;
  height:30px;
  float:left;

}


.city{
  color: black !important;
  font-size: 40px;
  background: transparent;
}

.print-label {
  /* these 2 properties are copied to canvas 2D context in renderLabels function of Qgis2threejs.js */
 
  

}


.marker{
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 50px;
  -webkit-transform: scale(0);
  /*margin-left: -50%;
  margin-top: -50%;*/
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */  
  transform-origin: center center;
}

  .blip{
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */  
    position: absolute;
    left: 50%;
    top:50%;
    background-color: : white;
    opacity: 0;
    transform: scale(20);
    transition: all 1040ms cubic-bezier(0,.53,.31,1);
    transform-origin: center center;
    -webkit-animation-timing-function: cubic-bezier(.56,.01,0,.99);

  }



.ahw-logo{
  width: 10%;
  min-width: 100px;
  /*background-color: red;*/
  position: absolute;
  right: 5%;
  bottom: 5%;
  
}

.noselect{
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ 
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.table{
  width: 50vw;
  min-width: 350px;
  max-width: 500px;
  position: absolute;
  bottom: 5%;
  left: 5%;

}


@font-face {
    font-family: 'Knockout30';
    src: url('./Knockout30.eot');
    src: url('./Knockout30.eot') format('embedded-opentype'),
         url('./Knockout30.woff2') format('woff2'),
         url('./Knockout30.woff') format('woff'),
         url('./Knockout30.ttf') format('truetype'),
         url('./Knockout30.svg#Knockout30') format('svg');
}